@charset "utf-8";
@import "./style.css";
@import "css/layout.css";

/*--------------------------------------------------
 *
 * HTML Tags
 *
--------------------------------------------------*/
body {
	background-color: #fff;
	padding: 0;
	margin: 10px;
}